@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Profile" asp-action="Index">
                👤 Личный кабинет
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Order" asp-action="MyOrders">
                📦 Мои заказы
            </a>
        </li>

        @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-danger fw-bold" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                    ⚙️ Админ-панель
                </a>
            </li>
        }

        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark"> ❌ Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">
                Регистрация
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                Войти
            </a>
        </li>
    }
</ul>