@page
@{
    Layout = "_Layout";
}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body text-center">

            <h3>Пароль изменён</h3>

            <p>Теперь вы можете войти в аккаунт с новым паролем.</p>

            <a asp-page="./Login" class="btn btn-primary">
                Войти
            </a>

        </div>

    </div>

</div>